<table class = "table">
 	<tr>
 		<th>
 			A'okay
 		</th>
 		<th>
 			Date
 		</th>
 		<th>
 			Plan
 		</th>
 		<th>
 			Accomplishment
 		</th>
 	</tr>
 	<% @plans.each do |plan| %>
 		<tr>
 			<td>
 				<input type="checkbox" id="checkbox-users-show" onclick="sendCheckRequest(<%=plan.id%>)">
 				<%if plan.checkbox == true %>
 					<script type="text/javascript">
 						console.log("plan.checkbox is true");
 						document.getElementById("checkbox-users-show").checked = true;
 					</script>
 				<%end%>
 			</td>
 			<td>
 				<%=plan.date%>
 			</td>
 			<td>
 				<%=plan.ambition%>
 			</td>
 			<td>
 				<%=plan.accomplishment%>
 			</td>
 		</tr>
 	<%end%>
</table>
<script type="text/javascript">
	function sendCheckRequest(planId){
		console.log("Logged plan ID "+planId);
	$.ajax({
		url: '../insert_checkbox',
		type: "GET",
		data: {'plan_id': planId},
		dataType: "json",
		success: function(data){
			alert("Success");
		},
		error: function(data){
			alert('Failure');
			console.log(data.responseText);
		}
	});
}
</script>