<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Greeting wants to chirp with you on <strong>Chirpy.</strong></h3>
    <p>
      To allow them to do so, all you have to do is click on this link: 
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>